* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial;
  height: 100vh;
  background: linear-gradient(
    to top left,
    rgb(255, 111, 111),
    rgb(230, 169, 169)
  );
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  width: 99%;
  margin-top: 100px;
}

/* Button layout */

#addBday {
  font-size: 2rem;
  padding: 1.75rem 7.5rem;
  margin: 5rem 2rem;
  font-weight: bold;
  border: none;
  background-color: white;
  color: #444;
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
}

#showBday {
  font-size: 2rem;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  font-weight: bold;
  border: none;
  background-color: white;
  color: #444;
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
}

/* The Modal (background) */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.4);
  z-index: 10;
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  font-size: 1.5rem;
  justify-content: left;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  margin-left: 5px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.input {
  margin-right: 100px;
  margin-top: 15px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
